

<p>Researcher: <%= @experiment.experimenter_id.fullname %></p>
<p>Status: <%= @experiment.status %></p>
<p>Materials: <%= @experiment.materials %></p>
<p>Procedure: <%= @experiment.procedure %></p>


