

<li class="collection-item avatar brown lighten-5">
  <% if proposal.status != "Open" %>
    <img src="https://cdn0.iconfinder.com/data/icons/simple-line-1/100/1-37-512.png" alt="" class="circle">
  <% else %>
    <img src="https://image.freepik.com/free-icon/chemistry-science-experiment-container-with-liquid-reaction-with-bubbles_318-31247.jpg" alt="" class="circle">
  <% end %>
  <span class="title"><%= link_to proposal.name, proposal %></span><br>
  <p>- <%= proposal.proposer.fullname %></p>
  <a href="/proposals/<%= proposal.id %>" class="secondary-content brown lighten-5 "><i class="material-icons icon-brown">send</i></a>


</li>



