<h2 class="center page-header">Most Recent Proposals</h2>

<% if @proposals %>
  <div class="new-proposal">
    <div class="col s12 m7">
      <div class="card horizontal brown lighten-5">
        <div class="card-stacked ">
          <div class="card-content">
            <p>Help contribute to our scientific database.  Create a proposal or search through the propsoals and conduct an experiment.</p>
          </div>
          <div class="card-action">
            <%= link_to "New Proposal", new_proposal_path, :class=>"black-text modify-proposal z-depth-2"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="collection z-depth-2">
    <%= render @proposals %>
  </ul>

<% end %>

<div class="form-catcher">
</div>

