
<h5>What is LabShare?</h5>
<p>LabShare is an easy-to-use portal for university staff to view and create proposals and experiments.</p>

<h5>How can I view proposals and experiments?</h5>
<p>This information is available after logging in to LabShare.  Don't have a login? No problem!  Click 'Register' in the upper right hand corner and sign up.  <em>Please note: registration is restricted to university-approved email addresses (.gov and .edu).</em></p>

<h5>How do I create a proposal?</h5>
<p>Click 'New Proposal' at the bottom left hand corner of the home page.  Enter the name of your proposal and the hypothesis you would like to test.  Feel free to add a targeted completion date as well, if applicable.  Once done, click 'Create Proposal' to add your new proposal to the LabShare portal.</p>

<h5>How do I start a new experiment?</h5>
<p>Click on the proposal for which you are interested in running an experiment.  To begin your own experiment, click 'Start New Experiment' located underneath the hypothesis statement.  Fill out the form with details about your experiment, then click 'Create Experiment' to add the experiment to LabShare.  As the experiment progresses, observations can be edited by clicking 'Edit Experiment Details' from the Experiment Details page.</p>

<h5>Why can't I edit a proposal and/or experiment?</h5>
<p>Changes can only be made by the user who created the proposal and/or experiment.  If you <strong>are</strong> the creator, check the status of the proposal/experiment you are trying to edit.  If the status is 'closed,' editing is not permitted.</p>

